<!-- IF ACTIVE_NOTIFICATION_LAST -->
<script>
(function($) {  // Avoid conflicts with other libraries
	"use strict";
	var last_notification = {ACTIVE_NOTIFICATION_LAST};
	//var last_notification = 0;
	var avatar_base = '{ACTIVE_NOTIFICATION_AVATAR_BASE}';
	var autoReloadTimer = null;
	var docTitle = document.title;
	<!-- IF UNREAD_NOTIFICATIONS_COUNT -->
	docTitle = docTitle.substr(docTitle.indexOf(')')+1);
	<!-- ENDIF -->
	function active_notifications(){
		$.getJSON("{ACTIVE_NOTIFICATION_URL}" + last_notification, function (data) {
			var response = data[0];
			var unread = response.unread;
			var notifs = response.notifs;
			var output = '';
			// Let's build new notifications
			$(notifs).each(function () {
				var not = $(this)[0];
				if (not.NOTIFICATION_ID > last_notification)
				{
					last_notification = not.NOTIFICATION_ID;
				}
				var notification = '';
				if ( not.UNREAD )
				{
					notification = '<li class=" bg2">\n';
				}
				else
				{
					notification = '<li>\n';
				}
				notification = notification + '<a class="notification-block" href="./' + not.U_MARK_READ.substr(8) + '" data-real-url="./' + not.URL.substr(8) + '">\n';
					/*if (!not.AVATAR) {
						notification = notification + '<img src="{T_THEME_PATH}/images/no_avatar.gif"></img>\n';
					}
					else
					{
						var get_id = $(not.AVATAR).attr('src');
						get_id = get_id.substr(get_id.indexOf('=')+1);
						get_id = avatar_base + get_id;
						$(not.AVATAR).attr('src', get_id);
						notification = notification + not.AVATAR + '\n';
					}*/
					// Force no avatar because I can't find how to set the path
					notification = notification + '<img src="{T_THEME_PATH}/images/no_avatar.gif"></img>\n';
					// This is only temp fix
					notification = notification + '<div class="notification_text">\n';
						notification = notification + '<p class="notification-title">' + not.FORMATTED_TITLE + '</p>\n';
						notification = notification + '<p class="notification-reference">' + not.REFERENCE + '</p>\n';
						notification = notification + '<p class="notification-time">' + not.TIME + '</p>\n';
					notification = notification + '</div>\n'; 
				notification = notification + '</a>\n';
				notification = notification + '</li>\n';
				//console.log(not.U_MARK_READ.substr(8));
				//console.log(not.URL.substr(8));
				output = output + notification;
			});
			// Now let us add them
			$('.dropdown-contents ul li:first').before( output );
			// Change value of notification counter
			$('#notification_list_button strong').html(unread.toString());
			// Now let's set window title
			if (unread > 0)
			{
				var docTitleWithNote;
				docTitleWithNote = '(' + unread.toString() + ')' + docTitle;
				document.title = docTitleWithNote;
			}
		});
	}
	function autoReload() {
		if (autoReloadTimer) { clearTimeout(autoReloadTimer); }
		autoReloadTimer = setTimeout(function() {
			console.log(last_notification);
			active_notifications();
			autoReload();
		}, {ACTIVE_NOTIFICATION_TIME});
	}
	$(document).ready(function() {
		autoReload();
	});
})(jQuery); // Avoid conflicts with other libraries
</script>
<!-- ENDIF -->